.map-box-area{
  display: flex;
  justify-content: center;
  padding: 20px;
}

.grid-map {
  width: fit-content;
  height: fit-content;
  border: black solid 1px;
}

.row-cell-box {
  display: flex;
  flex-direction: row;
  width: 360px;
  height: 18px;
}

.one-cell{
  width: 18px;
  height: 18px;
  background-color: #fff;
  border: black solid 1px;
}

.active {
  background-color: #ff5900;
}

.blocked {
  background-color: black;
}

.cell-color {
  width: 16px;
  height: 16px;
}

div.scrollmenu {
  position: fixed;
  max-width: $max-phone-width;
  z-index: 5;
  bottom: 0;
  background-color: #fff;
  overflow: scroll;
  white-space: nowrap;
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.card-box {
  padding: 2px 16px;
}
// list scroll
ul {
  list-style-type: none;
  padding: 0;
}

.card-list {
  display: flex;
  //grid-gap: 1em;
  //text-align: center;
}